{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error"],
    "brace-style": "error",
    "arrow-parens": 1,
    "object-curly-newline": "off",
    "func-names": "off",
    "comma-dangle": "warn",
    "react/jsx-props-no-spreading": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [".storybook/**", "stories/**", "**/*stories.js"]
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ],
    "jsx-a11y/href-no-hash": ["off"],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": ["off"],
    "max-len": [
      "warn",
      {
        "tabWidth": 2,
        "ignoreComments": false,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "locale": true,
    "localesList": true,
    "fetch": true
  },
  "plugins": ["prettier"]
}
