
<div id="cookieBlock">
	  <div id="cookieCenter">
		<span id="cookieButtonOk" onclick="javascript:createCookie('hideCookieBlock', '1');">Ok</span>
		<p>

	<span class="break">En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies notamment pour réaliser des statistiques de visites,</span>
	pour vous proposer des services et des offres adaptés à vos centres d'intérêts, ainsi que des services de partage et pour optimiser les fonctionnalités du site.<br>
	<a href="/Cookies">Pour en savoir plus</a> sur la protection de votre vie privée et paramétrer les traceurs.

				</p>
	  </div>
</div>

<div class="s-header jsHeader" id="header">
    <!--search-->
    <div class="s-header__fulltext jsFulltext">
      <div class="s-container">
        <div class="s-row">
            <div class="s-col-3">&nbsp;</div>

            <div class="s-col-6">
              <div id="search_band" class="form-location-autocomplete">
  <form class="s-relative" method="get" action="/fulltext">
    <fieldset>
      <input type="text" name="search" value="" class="
            s-input
            s-input--full
            s-input--trans
            s-input--border-light
            s-input--font-light
            s-input--font-medium
            s-input--fulltext
            jsFulltextInput" autocomplete="off">

      <span id="search_autocomplete"></span>
      <span id="search_autocomplete_result" class="s-hidden"></span>

      <button type="submit" name="submit" class="
            s-btn
            s-btn--icon-only
            s-btn--no-bg
            s-btn--absolute-right
            s-btn--fulltext">
        <span class="
            s-icon
            s-icon--magnify-medium-white">
        </span>
      </button>
    </fieldset>
  </form>
</div>            </div>

          <div class="s-col-3">
              
            <div class="s-text-right">
              <a class="
                      s-btn
                      s-btn--big-square
                      s-btn--rev-alt
                      s-btn--icon-only
                      s-btn--icon-hover-blue
                      jsFulltextTrigger" href="javascript:void(0);">
                <span class="
                        s-icon
                        s-icon--cross-medium-white">
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="s-header__top">
        <div class="
                s-container
                s-relative">

            <!--logo-->
            <div class="s-header__top__logo">
                                <p>
                
                    <a href="/" class="tracking" data-track="Fonctionnalites|Header_logo" title="Retour à l'accueil">
                        <img class="s-header__top__logo__img" src="/extension/smb/design/evol16/images/global/logo-x4.png" alt="Savoie Mont Blanc, la fabrique à souvenir">
                    </a>

                                </p>
                            </div>
            <!--/logo-->

            <ul class="s-header__top__list">

                                                <li class="s-header__top__list__item">
                  <a title="" href="/Preparer-son-sejour/Decouverte-et-gastronomie/Nos-territoires" class="
                            s-btn
                            s-btn--no-bg
                            s-btn--icon
                            tracking" data-track="Fonctionnalites|Header_territoires">
                                      <span class="
                            s-icon
                            s-icon--left
                            s-icon--map-small-grey">
                    </span>
                  
                  <span class="s-btn__inner">
                      Territoires
                  </span>
                </a>
              </li>
                              <li class="s-header__top__list__item">
                  <a title="Offices de tourisme" href="/offre/recherche/offices-de-tourisme/21/~~~/(page)/1" class="
                            s-btn
                            s-btn--no-bg
                            s-btn--icon
                            tracking" data-track="Fonctionnalites|Header_OT">
                                      <span class="
                            s-icon
                            s-icon--left
                            s-icon--info-small-grey">
                    </span>
                  
                  <span class="s-btn__inner">
                      Offices de tourisme
                  </span>
                </a>
              </li>
                              <li class="s-header__top__list__item">
                  <a title="Stations de sports d'hiver" href="/offre/recherche/stations-de-sports-d-hiver/16/~~~~~~~/%28page%29/1" class="
                            s-btn
                            s-btn--no-bg
                            s-btn--icon
                            tracking" data-track="Fonctionnalites|Header_stations">
                                      <span class="
                            s-icon
                            s-icon--left
                            s-icon--snow-small-grey">
                    </span>
                  
                  <span class="s-btn__inner">
                      Stations de sports d'hiver
                  </span>
                </a>
              </li>
                              <li class="s-header__top__list__item">
                  <a title="Réservation" href="/offre/recherche/services-reservation/26/~~~/%28page%29/1" class="
                            s-btn
                            s-btn--no-bg
                            s-btn--icon
                            tracking" data-track="Fonctionnalites|Header_reservation">
                                      <span class="
                            s-icon
                            s-icon--left
                            s-icon--book-small-grey">
                    </span>
                  
                  <span class="s-btn__inner">
                      Réservation
                  </span>
                </a>
              </li>
              
              <li class="s-header__top__list__item">
                  <a onclick="ga('send', 'event', 'Fonctionnalites', 'Header_Recherche_Fulltext', '/offre/recherche/offices-de-tourisme/21/~~~/(page)/3');" class="
                          s-btn
                          s-btn--no-bg
                          s-btn--icon
                          jsFulltextTrigger" href="javascript:void(0);">
                      <span class="
                              s-icon
                              s-icon--left
                              s-icon--magnify-small-grey">
                      </span>
                      <span class="s-btn__inner">
                          Rechercher
                      </span>
                  </a>
              </li>

              <li class="s-header__top__list__item">
                  <a class="
                          s-btn
                          s-btn--upper
                          s-btn--no-bg
                          s-btn--icon
                          jsListArrowTrigger" href="javascript:void(0);">
                      <span class="s-icon
                                   s-icon--left
                                   s-flag-icon
                                   s-flag-icon-fr
                                   "></span>
                      <span class="s-btn__inner">
                        fr
                      </span>
                      <span class="
                              s-icon
                              s-icon--right
                              s-icon--arrow-bottom-small-blue">
                      </span>
                  </a>

                  <ul class="
                          s-list-arrow
                          s-list-arrow--width-lang
                          s-list-arrow--header-top
                          jsListArrow">
                                                
                          <li class="s-list-arrow__item">
                              <a class="
                                      s-btn
                                      s-btn--upper
                                      s-btn--no-bg
                                      s-btn--icon
                                      tracking" href="http://www.savoie-mont-blanc.com/en" title="English" data-track="Fonctionnalites|Header_langue_EN">
                                  <span class="s-icon
                                               s-icon--left
                                               s-flag-icon
                                               s-flag-icon-gb"></span>
                                  <span class="s-btn__inner">
                                      en
                                  </span>
                              </a>
                          </li>
                                                
                          <li class="s-list-arrow__item">
                              <a class="
                                      s-btn
                                      s-btn--upper
                                      s-btn--no-bg
                                      s-btn--icon
                                      tracking" href="http://www.savoie-mont-blanc.com" title="Français" data-track="Fonctionnalites|Header_langue_FR">
                                  <span class="s-icon
                                               s-icon--left
                                               s-flag-icon
                                               s-flag-icon-fr"></span>
                                  <span class="s-btn__inner">
                                      fr
                                  </span>
                              </a>
                          </li>
                                        </ul>
              </li>
            </ul>
        </div>
    </div>

    <!--menu-->
    <div class="s-header__menu">
        <div class="s-container">
            <ul class="s-header__menu__list">

                                                <li class="s-header__menu__item">
                    <a class="
                            tracking
                            s-title
                            s-title--sans-bold
                            s-title--upper
                            s-title--blue
                            s-header__menu__item__inner
                            jsMenuTrigger
                            jsMenuDiscoverMainTrigger
                            " href="javascript:void(0)" title="Découvrir">
                        Découvrir savoie mont blanc
                    </a>
                </li>
                
                                                <li class="s-header__menu__item">
                    <a class="
                            tracking
                            s-title
                            s-title--sans-bold
                            s-title--upper
                            s-title--blue
                            s-header__menu__item__inner
                            jsMenuTrigger
                            jsMenuPrepareMainTrigger
                                                        s-header__menu__item__inner--active
                            " href="javascript:void(0)" title="Préparer son séjour">
                        Préparer son séjour
                    </a>
                </li>
                
                                                <li class="s-header__menu__item">
                    <a class="
                            s-title
                            s-title--sans-bold
                            s-title--upper
                            s-title--blue
                            s-header__menu__item__inner
                            jsMenuTrigger
                            jsMenuLiveMainTrigger
                            " href="javascript:void(0)" title="Infos Live">
                        Info live
                    </a>
                </li>
                            </ul>
        </div>
    </div>
    <!--/menu-->

</div>