<style>
    /* NOTE
    html is set to 62.5% so that all the REM measurement
    are based on 10px sizing. So basically 62.5% of 16px -> 10px , 1.4rem = 14px
    https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
     */
    html {
        font-size: 62.5%;
    }
</style>
<div id="gc3_content_wrapper">
</div>
