div[role="section"].bgGradent {
  min-height: 300px;
  background: linear-gradient(to top, rgb(251, 251, 222) 0%, rgb(255, 223, 174) 100%);
}

div[role="section"].association {
  text-align: center;
}

div[role="section"].association .container {
  width: 80%;
  margin: auto;
}

div[role="section"].association .row > div {
  padding-top: 20px;
}

div[role="section"].association .row > div:first-child > h3 {
  font-size: 35px;
  padding-bottom: 30px;
}

div[role="section"].association .row > div:first-child > h5 {
  font-size: 18px;
  padding-bottom: 30px;
}

div[role="section"].association .row > div:first-child p {
  display: none;
}

div[role="section"].association .row > div:last-child {
  text-align: center;
}

div[role="section"].association .row > div:last-child img {
  width: 100%;
  max-width: 350px;
  border-radius: 50%;
  display: none;
}

div[role="section"].association .row > div:last-child img:visible {
  scale: 50%
}

@media (min-width: 550px) {
  div[role="section"].welcome {
    text-align: inherit;;
  }

  div[role="section"].association .row > div:first-child {
    text-align: left;
  }

  div[role="section"].association .row > div:first-child p {
    display: block;
  }

  div[role="section"].association .row > div:last-child img {
    display: inline;
  }
}

div[role="section"].welcome {
  text-align: center;
}

@media (min-width: 550px) {
  div[role="section"].welcome {
    text-align: inherit;
  }
}

div[role="section"].welcome .row > div:first-child {

}

div[role="section"].welcome .row > div:first-child > h3 {
  text-align: center;
  padding-top: 30%;
}

div[role="section"].recentContrib > .container {
  width: 100%;
}

div[role="section"].partners img {
  float: left;
  padding-right: 4%;
  padding-bottom: 4%;
  width: 28%;
  max-width: 120px;
}

div[role="section"].randomEntry .rom > div:last-child > img {
  width: 100%;
  max-width: 300px;
}
