<p>
  <i>
    <%- i18n.__('Please, do not reply to this message. This message is a service email related to your use of Grottocenter.') %>
  </i>
</p>

<p>
  <%- i18n.__('Thanks') %>,
</p>
<p><b>Grottocenter</b></p>
</body>

</html>
