<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= i18n.getLocale() %>" lang="<%= i18n.getLocale() %>">
<meta charset="UTF-8">

<head>
  <title><%=emailTitle%></title>
</head>

<body>