footer {
  font-size: smaller;
  padding: 15px;

  .columns {
    text-align: center;
  }

  .publishedInfo {
    background-color: lighten(@brown, 50%);
    display: inline-block;
    padding: 5px;
    text-align: center;

    img {
      width: 100px;
    }
  }

  .linksIcon {
    list-style: none;
    display: inline-block;
    width: 100%;

    li {
      display: inline-block;
      width: 50px;
      margin: 0 10px;
    }

    img {
      width: 100%;
      padding: 2px;
      border-radius: 10px;
    }
  }

  .linksText {
    display: inline-block;
    margin: 20px 0;
    list-style: none;

    a {
      text-decoration: none;
      font-size: 1.3em;
    }
  }
}

.footer {
  .legal {
    p {
      text-align: center;
      margin-bottom: 0;
      font-size: 0.8em;
      font-weight: 300;
      padding: 5px;
    }

    .licenceIcon {
      text-align: center;

      img {
        width: 100px;
      }
    }
  }
}

.fixFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
}

@media (min-width: @mdMin) {
  footer {
    .row:first-of-type .columns:first-of-type {
      text-align: left;
    }

    .row:first-of-type .columns:last-of-type {
      text-align: right;
    }

    .linkIcon {
      margin: 0;
      margin-right: 5px;

      li {
        margin: 0 14px;
      }
    }
  }
}
