/* APP BAR */

.gcAppBar {
  /*position: absolute;*/
  z-index: 100;
  width: 100%;
}

/* CONTENT */

.ribbon {
  float: left;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 5px;
  color: white;
}

.ribbon .ribbon-piece {
  width: 35px;
}

.ribbon .tail {
  overflow: hidden;
  width: 35px;
}

.ribbon .top {
  border-bottom: solid 1px rgba(255, 255, 255, 0.6);
  border-radius: 1px 1px 0 0;
  font-size: 11px;
  padding: 4px 0;
  position: relative;
  text-transform: uppercase;
}

.ribbon .ribbon-piece {
  background-color: rgba(255, 162, 68, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-in;
}

.ribbon .tail .left {
  left: -16px;
  transform: rotate(-25deg);
  height: 10px;
  position: relative;
  top: -7px;
  width: 50px;
}

.ribbon .tail .right {
  right: 9px;
  transform: rotate(25deg);
  height: 10px;
  position: relative;
  top: -22px;
  width: 50px;
}

.loading_anim,
.loading_anim:before,
.loading_anim:after {
  border-radius: 50%;
}
.loading_anim {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loading_anim:before,
.loading_anim:after {
  position: absolute;
  content: '';
}
.loading_anim:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loading_anim:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
