openapi: 3.0.0

info:
  description: "This page documents the available Grottocenter's API."
  title: 'Grottocenter API'
  version: 'v1 - 24.0.0'
  termsOfService: 'https://wiki.grottocenter.org/wiki/GrottoCenter:En/API'
  contact:
    name: 'Slack space'
    url: 'https://grottocenter.slack.com/messages/C858CHARY/'
  license:
    name: 'CC BY-SA 3.0'
    url: 'https://creativecommons.org/licenses/by-sa/3.0/'

servers:
  - url: https://api.grottocenter.org/api/v1
  - url: http://localhost:1337/api/v1

x-response-headers:
  X-Trace-Id:
    description: Trace identifier returned in response (either provided by client or generated)
    schema:
      type: string
      format: uuid
      example: '01932e9e-7890-7000-8000-0123456789ab'

tags:
  - name: account
  - name: authentication
  - name: bibliographic metadata
    description: OAI-PMH endpoints for metadata harvesting
  - name: caves
  - name: cavers
  - name: countries
  - name: descriptions
  - name: documents
  - name: entrances
  - name: file formats
  - name: geoloc
  - name: groups
  - name: guidelines
  - name: health
    description: API health monitoring endpoints
  - name: identifierTypes
  - name: languages
  - name: licenses
  - name: locations
  - name: names
  - name: massifs
  - name: mfa
    description: Multi-Factor Authentication (TOTP) enrollment, verification, and reset for administrators
  - name: organizations
  - name: regions
  - name: search
  - name: subjects
  - name: import csv
  - name: comments
  - name: riggings
  - name: messaging
  - name: devices
    description: Physical measurement instrument (device) management
  - name: SensorConfiguration
    description: Per-channel sensor configuration management (nested under devices)
  - name: Observation
    description: Scientific observation data import
  - name: Substances
    description: Substance reference table for chemical species and isotopes
  - name: SSO
    description: Single Sign-On token issuance for external product integration

paths:
  '/health':
    get:
      tags:
        - health
      description: 'Check the health of the API and its dependencies including database, search, and build information generated at build time.'
      responses:
        200:
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        503:
          description: API is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  '/licenses':
    get:
      tags:
        - licenses
      description: 'Get all the licenses present in Grottocenter.'
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/License'

  '/file-formats':
    get:
      tags:
        - file formats
      description: 'Get all the file formats present in Grottocenter.'
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File-format'

  '/caves':
    post:
      tags:
        - caves
      description: 'Create a Cave. When submitting a new cave, you must provide an authentification token (from the /login route) in the Authorization header. This token will be used to set the author of the submission.'
      parameters:
        - name: depth
          in: query
          description: Depth of the cave
          schema:
            type: integer
        - name: descriptions
          in: query
          description: Description objects array
          required: true
          schema:
            type: array
            items:
              type: object
              properties:
                body:
                  type: string
                language:
                  type: string
                  description: Language used for the description. The list of languages supported by Grottocenter is available using the /languages route.
                title:
                  type: string
        - name: documents
          in: query
          description: Document ids related to the cave
          schema:
            type: array
            items:
              type: integer
        - name: isDiving
          in: query
          description: If the cave is flooded or not
          schema:
            type: boolean
            default: false
        - name: latitude
          in: query
          schema:
            type: number
        - name: length
          in: query
          description: Length of the cave
          schema:
            type: integer
        - name: longitude
          in: query
          schema:
            type: number
        - name: massif
          in: query
          description: Massif id in which the cave is located.
          schema:
            type: integer
        - name: name
          in: query
          description: Name object
          required: true
          schema:
            type: object
            properties:
              text:
                type: string
                description: Main name of the cave, using the local language.
              language:
                type: string
                description: Language used for the name. The list of languages supported by Grottocenter is available using the /languages route.
        - name: temperature
          in: query
          description: Average temperature in the cave
          schema:
            type: number
            format: double
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cave'
        403:
          description: You are not authorized to create a cave.

    get:
      tags:
        - caves
      description: Get all caves.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cave'

  '/caves/{id}':
    get:
      tags:
        - caves
      description: Get a cave by id.
      parameters:
        - name: id
          in: path
          description: Cave id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cave'
        '404':
          description: Cave not found.

    delete:
      tags:
        - caves
      description: Delete a cave. If a destinationCaveForOrphan parameter is provided, all the data related to the cave are transfered to the destination cave before it's deleted. If a value is set in both caves, the destination cave value is retained.
      parameters:
        - name: id
          in: path
          description: Cave id
          required: true
          schema:
            type: string
        - name: destinationCaveForOrphan
          in: query
          description: Destination cave id in which the cave data will be merged before being deleted.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          description: Cave(s) not found
        '410':
          description: Cave already deleted

    put:
      tags:
        - caves
      description: Update a cave. See the POST /caves route explaination about the parameters you can use to update a cave.
      parameters:
        - name: id
          in: path
          description: id of the cave to be updated.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cave'
        403:
          description: You are not authorized to update a cave.

  '/caves/{caveId}/documents/{documentId}':
    put:
      tags:
        - caves
        - documents
      description: Add a document to a cave.
      parameters:
        - name: caveId
          in: path
          description: Cave id to add the document to.
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          description: Document id to be added to the cave.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          description: "Bad request. Both the caveId and documentId parameters must exist in the database. Also, you can't add a document if it is already associated to the cave you specified."
        '403':
          description: You are not authorized to add a document to a cave.

  '/caves/{caveId}/organizations/{organizationId}':
    put:
      tags:
        - caves
        - organizations
      description: Add an organization as a cave explorer. Organization members, moderators, or administrators can manage explorer relationships.
      parameters:
        - name: caveId
          in: path
          description: Cave id to add the explorer to.
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          description: Organization id to be added as cave explorer.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          description: Organization is already exploring this cave.
        '401':
          description: Authentication required.
        '403':
          description: You are not authorized to add a cave explorer. Must be a member of the organization, moderator, or administrator.
        '404':
          description: Cave or organization not found.

    delete:
      tags:
        - caves
        - organizations
      description: Remove an organization as a cave explorer. Organization members, moderators, or administrators can manage explorer relationships.
      parameters:
        - name: caveId
          in: path
          description: Cave id to remove the explorer from.
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          description: Organization id to be removed as cave explorer.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          description: Organization is not exploring this cave.
        '401':
          description: Authentication required.
        '403':
          description: You are not authorized to remove a cave explorer. Must be a member of the organization, moderator, or administrator.
        '404':
          description: Cave or organization not found.

  '/caves/{caveId}/massif/{massifId}':
    put:
      tags:
        - caves
        - massifs
      description: Set a cave massif.
      parameters:
        - name: caveId
          in: path
          required: true
          schema:
            type: string
        - name: massifId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          description: 'Bad request. Both the caveId and massifId parameters must exist in the database.'
        '403':
          description: You are not authorized to set the massif of a cave.

  '/caves/cumulated-length':
    get:
      tags:
        - caves
      description: Get cumulated length of all caves in the database.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'

  '/cavers':
    post:
      tags:
        - cavers
      description: Create a caver (currently using only a name & surname)
      parameters:
        - name: name
          in: query
          description: Caver name
          required: true
          schema:
            type: string
        - name: surname
          in: query
          description: Caver surname
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Caver'
        '400':
          description: You must provide a surname and a name to create a new caver.
        '403':
          description: You are not authorized to create a caver.

  '/account':
    get:
      tags:
        - account
      summary: Get the authenticated user's account details
      description: Returns private account information for the currently authenticated user, including email, language preference, and notification settings.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  nickname:
                    type: string
                  name:
                    type: string
                  surname:
                    type: string
                  mail:
                    type: string
                  language:
                    type: string
                    description: ISO 639-3 language code (e.g. "fra", "eng") or "000" if not set
                  mailIsValid:
                    type: boolean
                  sendNotificationByEmail:
                    type: boolean
        '401':
          description: Unauthorized — valid JWT required.
        '404':
          description: Caver not found.
    patch:
      tags:
        - account
      summary: Update the authenticated user's account settings
      description: Update one or more account settings for the currently authenticated user. All fields are optional — only the provided fields will be updated.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: New email address
                password:
                  type: string
                  description: New password (minimum 8 characters)
                currentPassword:
                  type: string
                  description: Current password (required when changing password)
                language:
                  type: string
                  description: Preferred language as an ISO 639-3 code (e.g. "fra", "eng", "deu")
                  example: fra
                name:
                  type: string
                  description: Real name of the user (empty string clears the value)
                surname:
                  type: string
                  description: Real surname of the user (empty string clears the value)
                nickname:
                  type: string
                  description: Nickname (display name, must be unique)
                sendNotificationByEmail:
                  type: boolean
                  description: Whether to receive notifications by email
      responses:
        '200':
          description: Pending email change cancelled.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Pending email change cancelled.
        '204':
          description: Successful operation
        '400':
          description: Invalid input (unknown property, missing value, or validation error).
        '401':
          description: Unauthorized — valid JWT required.
        '403':
          description: Current password is incorrect.
        '404':
          description: Caver not found.
        '409':
          description: Email or nickname is already taken.

  '/cavers/{id}':
    get:
      tags:
        - cavers
      description: Get information about a caver. Only administrators can access all the information about caver. If you are not an administrator, you will only get the documents submitted by the user, his/her name, surname and nickname.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Caver'
        '404':
          description: Caver not found.
    put:
      tags:
        - cavers
      description: Update a caver's profile. Administrator only. Use PATCH /account for self-service updates.
      parameters:
        - name: caverId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Real name of the user
                nickname:
                  type: string
                  description: Nickname (display name)
                surname:
                  type: string
                  description: Real surname of the user
                organizations:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Caver'
        '400':
          description: 'Bad request, caverId must exist in database. Or invalid fields to update'
        '403':
          description: 'You are not authorized to update a caver.'
        '404':
          description: 'Could not find caver with caverId.'

  '/cavers/admins':
    get:
      tags:
        - cavers
      description: Get all the administrators of Grottocenter.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  cavers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Caver'
        '404':
          description: No administrators found.

  '/cavers/authors/{page}':
    get:
      tags:
        - cavers
      description: Get all authors (if the user have one document in j_document_caver_author with is id) of Grottocenter. (only for moderators and administrators)
      parameters:
        - name: page
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        caverId:
                          type: integer
                        nickname:
                          type: string
                        name:
                          type: string
                        surname:
                          type: string
                        isUser:
                          type: boolean
                        isAuthor:
                          type: boolean
                        isContributor:
                          type: boolean
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      totalPages:
                        type: integer
        '400':
          description: Invalid page parameter. Page must be a positive integer.
        '401':
          description: You are not authorized to get the authors of Grottocenter.
        '403':
          description: You are not authorized to access this endpoint.
        '404':
          description: No authors found.

  '/cavers/contributors/{page}':
    get:
      tags:
        - cavers
      description: Get all contributors (if the user have one document in t_document with is id in id_authors) of Grottocenter. (only for moderators and administrators)
      parameters:
        - name: page
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        caverId:
                          type: integer
                        nickname:
                          type: string
                        name:
                          type: string
                        surname:
                          type: string
                        isUser:
                          type: boolean
                        isAuthor:
                          type: boolean
                        isContributor:
                          type: boolean
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      totalPages:
                        type: integer
        '400':
          description: Invalid page parameter. Page must be a positive integer.
        '401':
          description: You are not authorized to get the contributors of Grottocenter.
        '403':
          description: You are not authorized to access this endpoint.
        '404':
          description: Page not found or no contributors found.

  '/cavers/users/{page}':
    get:
      tags:
        - cavers
      description: Get all users (valid email and have a password) of Grottocenter. (only for moderators and administrators)
      parameters:
        - name: page
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        caverId:
                          type: integer
                        nickname:
                          type: string
                        name:
                          type: string
                        surname:
                          type: string
                        isUser:
                          type: boolean
                        isAuthor:
                          type: boolean
                        isContributor:
                          type: boolean
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      totalPages:
                        type: integer
        '400':
          description: Invalid page parameter. Page must be a positive integer.
        '401':
          description: You are not authorized to get the users of Grottocenter.
        '403':
          description: You are not authorized to access this endpoint.
        '404':
          description: Page not found or no users found.

  '/cavers/count':
    get:
      tags:
        - cavers
      description: Get the number of cavers (both users and document authors) of the application
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'

  '/cavers/moderators':
    get:
      tags:
        - cavers
      description: Get all the moderators of Grottocenter.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  cavers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Caver'
        '404':
          description: No moderators found.

  '/cavers/{caverId}/groups':
    post:
      tags:
        - cavers
        - groups
      description: Set caver groups.
      parameters:
        - name: caverId
          in: path
          description: Caver id whose groups you want to define.
          required: true
          schema:
            type: string
        - name: groups
          in: query
          description: Group ids to set for the caver.
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request, could not find caver with the caver id you provided or could not find one or multiple groups with group ids you provided.
        '403':
          description: You are not authorized to set caver groups.

  '/cavers/{caverId}/groups/{groupId}':
    put:
      tags:
        - cavers
        - groups
      description: Add a caver to a group.
      parameters:
        - name: caverId
          in: path
          description: Caver id to be added to the group.
          required: true
          schema:
            type: string
        - name: groupId
          in: path
          description: Group id to add the caver to.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad request. Both the caverId and groupId parameters must exist in the database. Also, you can't add a caver if he / she is already in the group you specified."
        '403':
          description: You are not authorized to add a caver to a group.

    delete:
      tags:
        - cavers
        - groups
      description: Remove a caver from a group.
      parameters:
        - name: caverId
          in: path
          description: Caver id to be removed from the group.
          required: true
          schema:
            type: string
        - name: groupId
          in: path
          description: Group id to remove the caver from.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request. Both the caverId and groupId parameters must exist in the database.
        '403':
          description: You are not authorized to remove a caver from a group.

  '/entrances/{entranceId}/cavers/{caverId}':
    put:
      tags:
        - entrances
        - cavers
      description: Add a caver as an entrance explorer. Users can only add entrances to their own profile. Moderators and administrators can add entrances to any user's profile.
      parameters:
        - name: entranceId
          in: path
          description: Entrance id to add the explorer to.
          required: true
          schema:
            type: string
        - name: caverId
          in: path
          description: Caver id to be added as entrance explorer.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '401':
          description: Authentication required.
        '403':
          description: You can only manage your own explored entrances (unless you are a moderator or administrator).
        '404':
          description: Entrance or caver not found.
        '409':
          description: Caver is already registered as an explorer of this entrance.

    delete:
      tags:
        - entrances
        - cavers
      description: Remove a caver as an entrance explorer. Users can only remove entrances from their own profile. Moderators and administrators can remove entrances from any user's profile.
      parameters:
        - name: entranceId
          in: path
          description: Entrance id to remove the explorer from.
          required: true
          schema:
            type: string
        - name: caverId
          in: path
          description: Caver id to be removed as entrance explorer.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '401':
          description: Authentication required.
        '403':
          description: You can only manage your own explored entrances (unless you are a moderator or administrator).
        '404':
          description: Entrance, caver, or explorer relationship not found.

  '/cavers/{caverId}/organizations/{organizationId}':
    put:
      tags:
        - cavers
        - organizations
      description: Add a caver to an organization. Users can only manage their own memberships unless they are administrators.
      parameters:
        - name: caverId
          in: path
          description: Caver id to be added to the organization.
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          description: Organization id to add the caver to.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: "Bad request. Both the caverId and organizationId parameters must exist in the database. Also, you can't add a caver if they are already a member of the organization."
        '403':
          description: You are not authorized to manage organization memberships for other users.
        '404':
          description: Caver or organization not found.

    delete:
      tags:
        - cavers
        - organizations
      description: Remove a caver from an organization. Users can only manage their own memberships unless they are administrators.
      parameters:
        - name: caverId
          in: path
          description: Caver id to be removed from the organization.
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          description: Organization id to remove the caver from.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: Bad request. The caver is not a member of this organization.
        '403':
          description: You are not authorized to manage organization memberships for other users.
        '404':
          description: Caver or organization not found.

  '/cavers/{id}/documents':
    get:
      tags:
        - documents
      description: Get all documents authored by the identified caver.
      parameters:
        - name: id
          in: path
          description: Caver id
          required: true
          schema:
            type: string
        - name: skip
          in: query
          description: Number of documents to skip.
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of documents.
          required: false
          schema:
            type: integer
            default: 50
        - name: sortBy
          in: query
          description: Attribute to sort the documents by.
          required: false
          schema:
            type: string
            default: dateInscription
        - name: orderBy
          in: query
          description: Order used by the sortBy attribute
          required: false
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'

  '/cavers/{caverId}/ban':
    post:
      tags:
        - cavers
      summary: Ban a caver
      description: Bans a caver, revoking all active tokens and preventing future logins. Requires Administrator role.
      security:
        - bearerAuth: []
      parameters:
        - name: caverId
          in: path
          description: Caver id to ban
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Caver banned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  banned:
                    type: boolean
                    example: true
        '401':
          description: Unauthorized — missing or invalid bearer token.
        '403':
          description: Forbidden — caller is not an administrator, or attempted to ban themselves.
        '404':
          description: Caver not found.

  '/cavers/{caverId}/unban':
    post:
      tags:
        - cavers
      summary: Unban a caver
      description: Unbans a previously banned caver, allowing them to log in again. Requires Administrator role.
      security:
        - bearerAuth: []
      parameters:
        - name: caverId
          in: path
          description: Caver id to unban
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Caver unbanned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  banned:
                    type: boolean
                    example: false
        '401':
          description: Unauthorized — missing or invalid bearer token.
        '403':
          description: Forbidden — caller is not an administrator.
        '404':
          description: Caver not found.

  '/cavers/banned':
    get:
      tags:
        - cavers
      summary: List banned cavers
      description: Returns all currently banned cavers. Requires Administrator role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  banned:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        nickname:
                          type: string
        '401':
          description: Unauthorized — missing or invalid bearer token.
        '403':
          description: Forbidden — caller is not an administrator.

  '/cavers/invalid-mail':
    get:
      tags:
        - cavers
      summary: List cavers with invalid email
      description: Returns all cavers whose email has been marked as invalid (e.g. due to bounce or complaint). Requires Administrator role.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  cavers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        nickname:
                          type: string
                        name:
                          type: string
                          nullable: true
                        surname:
                          type: string
                          nullable: true
        '401':
          description: Unauthorized — missing or invalid bearer token.
        '403':
          description: Forbidden — caller is not an administrator.

  '/descriptions':
    post:
      tags:
        - descriptions
      description: Create a description. You must provide at least one entityId (caveId, documentId, entranceId, exitId, massifId or pointId) which your description is refering to. If you provide two or more of them, the first one will be used and the other ones will be ignored.
      parameters:
        - name: body
          in: query
          required: true
          description: Content of the description
          schema:
            type: string
        - name: language
          in: query
          required: true
          description: Language used for the description. The list of languages supported by Grottocenter is available using the /languages route.
          schema:
            type: string
        - name: title
          in: query
          required: true
          description: Title of the description
          schema:
            type: string
        - name: caveId
          in: query
          schema:
            type: string
        - name: documentId
          in: query
          schema:
            type: string
        - name: entranceId
          in: query
          schema:
            type: string
        - name: exitId
          in: query
          schema:
            type: string
        - name: massifId
          in: query
          schema:
            type: string
        - name: pointId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Description'
        '400':
          description: Some required information are missing (title, body, language or entityId).
        '403':
          description: You are not authorized to create a description.
        '404':
          description: The entity you want to link your new description to was not found.

  '/descriptions/{id}':
    patch:
      tags:
        - descriptions
      description: Update a description body and/or title and/or language (you can provide one or multiple).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: body
          in: query
          schema:
            type: string
        - name: title
          in: query
          schema:
            type: string
        - name: language
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Description'

  '/descriptions/{id}/snapshots':
    get:
      tags:
        - descriptions
      description: Get snapshots of a description.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Description'
        '404':
          description: We don't find these description's snapshots.

  '/descriptions/{id}/move-relevance':
    patch:
      tags:
        - descriptions
      description: Move a description up or down in the relevance ordering within its cave, entrance, massif, or document scope.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - direction
              properties:
                direction:
                  type: integer
                  enum: [1, -1]
                  description: "1 to move down (increase relevance), -1 to move up (decrease relevance)"
      responses:
        '200':
          description: Successful swap — returns both entities with updated relevance values
        '400':
          description: Invalid direction, entity is deleted, or entity is already at boundary
        '401':
          description: Authentication required
        '404':
          description: Entity not found

  '/documents':
    post:
      tags:
        - documents
      description: "Create a document. When submitting a new document, you must provide an authentification token (from the /login route) in the Authorization header. This token will be used to set the author of the submission. A lot of parameters are required but it depends a lot on the document type you are submitting (example: there is no publication date for a Collection but it's mandatory for an Issue. The type of the request must be a multipart/form-data if some files are uploaded."
      parameters:
        - name: authors
          in: query
          description: Author(s) id(s) of the document, the one(s) who wrote it.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
        - name: authorsOrganization
          in: query
          description: Organization(s) (grotto/club) id(s) that authored the document.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
        - name: datePublication
          in: query
          description: Date on which the document you submit was made public. You can refer to the date indicated on the document.
          schema:
            type: string
          examples:
            year:
              value: '2014'
              summary: Year only
            year and month:
              value: '2014-06'
              summary: Year and month
            full date:
              value: '2014-06-21'
              summary: Full date
        - name: editor
          in: query
          description: Organization that ensures the publication of the document.
          schema:
            type: object
            properties:
              id:
                type: string
        - name: identifier
          in: query
          description: Code for designating a document in a unique way. This can be a DOI, URL, ISBN or ISSN.
          schema:
            type: string
        - name: identifierType
          in: query
          description: Type of the identifier provided.
          schema:
            type: object
            properties:
              id:
                type: string
                enum: ['DOI', 'ISBN', 'ISSN', 'URL']
        - name: library
          in: query
          description: Place (= Organization) where the document can be consulted.
          schema:
            type: object
            properties:
              id:
                type: string
        - name: massif
          in: query
          description: Massif to which the document refers to.
          schema:
            type: object
            properties:
              id:
                type: string
        - name: partOf
          in: query
          description: Document that contains the document you are submitting (an article has a periodical issue as its parent document, a periodical issue has a periodical as its parent document).
          schema:
            type: object
            properties:
              id:
                type: string
        - name: regions
          in: query
          description: BBS regions to which the document refers to.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
        - name: subjects
          in: query
          description: List of subjects and their description is available using the /documents/subjects route or here => https://www.ssslib.ch/bbs/wp-content/uploads/2017/03/chapter_and_geo_1_2008.pdf
          schema:
            type: array
            items:
              type: object
              properties:
                code:
                  type: string
        - name: documentType
          in: query
          description: Type of the document (Collection, Issue, Article or Text).
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
        - name: description
          in: query
          description: Precise sentence pleasant to read with keywords.
          schema:
            type: string
        - name: title
          in: query
          description: Title of the text as it is. In its absence, put a fictitious title between [].
          schema:
            type: string
        - name: titleAndDescriptionLanguage
          in: query
          description: Language used for the title and the description you are providing. List of languages supported by Grottocenter is available using the /languages route.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
        - name: documentMainLanguage
          in: query
          description: Language used in the document. List of languages supported by Grottocenter is available using the /languages route.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
        - name: files
          in: query
          description: The files linked to the document.
          schema:
            type: array
            items:
              type: string
              format: binary
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        403:
          description: You are not authorized to create a document.

    get:
      tags:
        - documents
      description: Get all documents.
      parameters:
        - name: isValidated
          in: query
          description: If the documents must be validated or not.
          required: false
          schema:
            default: true
            type: boolean
        - name: skip
          in: query
          description: Number of documents to skip.
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of documents.
          required: false
          schema:
            type: integer
            default: 50
        - name: sortBy
          in: query
          description: Attribute to sort the documents by.
          required: false
          schema:
            type: string
            default: dateInscription
        - name: orderBy
          in: query
          description: Order used by the sortBy attribute
          required: false
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
        - name: documentType
          in: query
          description: The type of document which must be retrieved.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'

  '/documents/{id}':
    get:
      tags:
        - documents
      description: Get a document by id.
      parameters:
        - name: id
          in: path
          description: Document id
          required: true
          schema:
            type: string
        - name: requireUpdate
          in: query
          description: Specify if you want to retrieve the current update (not validated) of the document
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          description: Document not found.

    put:
      tags:
        - documents
      description: >-
        Update a document. See the POST /documents route explanation about the
        parameters you can use to update a document.


        **Many-to-many collection fields** (`authors`, `authorsOrganization`,
        `subjects`, `massifs`, `isoRegions`, `countries`):


        * If a field is **omitted** from the request, the existing associations
        are left untouched.

        * If a field is sent as a **non-empty array**, it replaces the current
        associations exactly.

        * To **clear** a collection entirely, send the literal string `'[]'`
        as the field value. This is required because `multipart/form-data`
        cannot represent an empty array natively.


        **Language field**: the document language is set via `documentMainLanguage.id`
        (or the legacy `mainLanguage` field). It cannot be cleared via `'[]'`;
        omit the field to leave the language untouched.
      parameters:
        - name: id
          in: path
          description: id of the document to be updated.
          required: true
          schema:
            type: string
        - name: authorsOrganization
          in: query
          description: Organization(s) (grotto/club) id(s) that authored the document.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        403:
          description: You are not authorized to update a document.

  '/documents/{id}/new-entities':
    put:
      tags:
        - documents
      description: >-
        Update a document and optionally create new cavers or descriptions as
        part of the same operation. This endpoint accepts JSON only.


        **Many-to-many collection fields** (`authors`, `authorsOrganization`,
        `subjects`, `languages`, `massifs`, `isoRegions`, `countries`):


        * **Omit** a field to leave existing associations untouched.

        * Send a **non-empty array** of ids to replace the current associations.

        * Send an **empty array** `[]` to clear the collection entirely.


        Note: unlike `PUT /documents/{id}` (which is `multipart/form-data`),
        this endpoint receives a JSON body, so a real empty array `[]` is used
        to clear a collection — the `'[]'` string sentinel is not needed here.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the document to update.
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                document:
                  type: object
                  description: >-
                    Scalar and collection fields to update on the document.
                    Many-to-many collection fields (`authors`, `authorsOrganization`,
                    `subjects`, `languages`, `massifs`, `isoRegions`,
                    `countries`): omit to keep existing, send `[]` to clear,
                    or send an array of ids to replace.
                newAuthors:
                  type: array
                  description: >-
                    New caver records to create and link as authors. Each
                    object is passed directly to `TCaver.createEach`. The
                    junction-table row linking each new caver to the document
                    is written at creation time. If `document.authors` is also
                    present, the new ids are merged into that list before
                    `replaceCollection` runs. If `document.authors` is absent,
                    existing authors are left untouched and only the new cavers
                    are added.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      surname:
                        type: string
                      mail:
                        type: string
                newDescriptions:
                  type: array
                  description: >-
                    New description records to create and link to the document.
                    Each entry must include a `language` field.
                  items:
                    type: object
                    required:
                      - language
                    properties:
                      title:
                        type: string
                      body:
                        type: string
                      language:
                        type: string
                        description: 3-letter ISO 639-2 language code.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: >-
            Bad request. Returned when a new description is missing the
            required `language` field.
        '401':
          description: Unauthorized. A valid bearer token is required.
        '404':
          description: Document not found or has been deleted.

  '/documents/count':
    get:
      tags:
        - documents
      description: Get the number of documents.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'

  '/documents/{id}/children':
    get:
      tags:
        - documents
      description: Get a document children.
      parameters:
        - name: id
          in: path
          description: Document id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Document not found.

  '/documents/{id}/validate':
    put:
      tags:
        - documents
      description: Validate or not a document, with or without a comment.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: isValidated
          in: query
          required: false
          description: Specify if the document is validated or refused.
          schema:
            type: boolean
            default: true
        - name: validationComment
          in: query
          description: Comment about why the document has been validated or refused. Mandatory when isValidated param is false.
          schema:
            type: string
      responses:
        '200':
          description: Successful operation.
        '400':
          description: Bad request. If you are refusing a document, you must provide a validationComment.
        '404':
          description: Document to update not found.

  '/documents/validate':
    put:
      tags:
        - documents
      description: Validate or not multiple documents, with or without a comment.
      parameters:
        - name: documents
          description: Document(s) to validate / refuse with their optionnal validation comment.
          in: query
          required: true
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: number
                isValidated:
                  type: boolean
                validationComment:
                  type: string
      responses:
        '200':
          description: Successful operation
        '404':
          description: Document(s) to update not found.
        '400':
          description: Bad request. If you are refusing a document, you must provide a validationComment.

  '/documents/identifierTypes':
    get:
      tags:
        - documents
        - identifierTypes
      description: Get all the document identifier types.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifierTypes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document-identifierType'

  '/documents/{id}/snapshots':
    get:
      tags:
        - documents
      description: Get snapshots of a document.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          description: We don't find these document's snapshots.

  '/documents/subjects':
    get:
      tags:
        - documents
        - subjects
      description: Get all the document subjects.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  subjects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document-subject'

  '/documents/subjects/{code}':
    get:
      tags:
        - documents
        - subjects
      description: Get a subject by its code.
      parameters:
        - name: code
          in: path
          description: Subject code
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document-subject'
        '404':
          description: Subject not found

  '/documents/subjects/search/logical/or':
    post:
      tags:
        - documents
        - subjects
      description: Get a subject according to the parameters given, applying a logical OR. The search is case insensitive and autocompleted (i.e. it search for the parameters being contained in the actual field).
      parameters:
        - name: name
          in: query
          description: Subject name (case insensitive)
          required: false
          schema:
            type: string
        - name: code
          in: query
          description: Subject code (case insensitive)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  subjects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document-subject'

  '/documents/check-rows':
    post:
      tags:
        - documents
      description: Check if the document data sent are already present in Grottocenter.
      security:
        - bearerAuth: []
      requestBody:
        description: An object with a "data" property containing an array of document rows to check. Check https://ontology.uis-speleo.org/howto/ for mandatory properties.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/Import-csv'
      responses:
        '200':
          description: Successful operation. Returns the data which are not duplicates. For those which are indeed duplicates, returns the line concerned in the csv.
          content:
            application/json:
              schema:
                type: object
                properties:
                  willBeCreated:
                    type: array
                    items:
                      $ref: '#/components/schemas/Import-csv'
                  willBeCreatedAsDuplicates:
                    type: array
                    items:
                      $ref: '#/components/schemas/Import-csv'
                  wontBeCreated:
                    type: array
                    items:
                      type: object
                      properties:
                        line:
                          type: integer
        '400':
          description: Missing or invalid "data" property in request body.
        '401':
          description: Authentication required.

  '/documents/import-rows':
    post:
      tags:
        - import csv
      description: Import the data in the database.
      requestBody:
        description: Check https://ontology.uis-speleo.org/howto/ to learn the mandatories properties. It must be an array of object containing the properties mentioned.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Import-csv'
      responses:
        '200':
          description: Successful operation. Returns the id of the cave/entrance or document (depending on what you imported). In case of failure, returns the line concerned and an error message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: object
                    properties:
                      success:
                        type: integer
                      failure:
                        type: integer
                  successfulImport:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            caveId:
                              type: integer
                            entranceId:
                              type: integer
                        - type: object
                          properties:
                            documentId:
                              type: integer
                  failureImport:
                    type: array
                    items:
                      type: object
                      properties:
                        line:
                          type: integer
                        message:
                          type: string
        '403':
          description: You are not authorized to create a document (or entrance).

  '/bibliographic-metadata/record/{id}':
    get:
      tags:
        - bibliographic metadata
      description: 'Retrieve a single bibliographic metadata record by numeric ID (GetRecord operation).'
      parameters:
        - name: id
          in: path
          description: 'Numeric ID of the record to retrieve'
          required: true
          schema:
            type: integer
            example: 25022
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BibliographicMetadataRecord'
        '404':
          description: Record not found

  '/bibliographic-metadata/{id}/format/{format}':
    get:
      tags:
        - bibliographic metadata
      description: 'Get bibliographic metadata by ID and convert to specific MARC format.'
      parameters:
        - name: id
          in: path
          description: 'Unique identifier of the bibliographic metadata record'
          required: true
          schema:
            type: string
            example: '25022'
        - name: format
          in: path
          description: 'MARC format specification with optional country code'
          required: true
          schema:
            type: string
            example: 'marc21-US'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    type: object
                    description: 'Converted MARC record'
                  format:
                    type: string
                    description: 'Applied MARC format'
                    example: 'Unimarc'
                  country:
                    type: string
                    description: 'Applied country code'
                    example: 'IT'
        '400':
          description: 'ID and format parameters are required'
        '404':
          description: 'Record not found'

  '/bibliographic-metadata/records':
    get:
      tags:
        - bibliographic metadata
      description: 'Retrieve multiple bibliographic metadata records with full metadata (ListRecords operation).'
      parameters:
        - name: set
          in: query
          description: 'Filter records by set specification'
          required: false
          schema:
            type: string
            example: 'grottocenter'
        - name: from
          in: query
          description: 'Filter records modified from this date (inclusive, filters on lastUpdate field) - YYYY-MM-DD format'
          required: false
          schema:
            type: string
            format: date
            example: '2023-01-25'
        - name: until
          in: query
          description: 'Filter records modified until this date (inclusive, filters on lastUpdate field) - YYYY-MM-DD format'
          required: false
          schema:
            type: string
            format: date
            example: '2023-12-31'
        - name: includeDeleted
          in: query
          description: >
            Optional flag to include deleted records (with metadataStatus = 'deleted').
            Defaults to 'false', meaning only registered records are counted.
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/BibliographicMetadataRecord'
                  count:
                    type: integer
                    description: 'Total number of records returned'
                  parameters:
                    type: object
                    description: 'Applied filter parameters'
                    properties:
                      set:
                        type: string
                      from:
                        type: string
                      until:
                        type: string

  '/bibliographic-metadata/identifiers':
    get:
      tags:
        - bibliographic metadata
      description: 'Retrieve record headers only without full metadata (ListIdentifiers operation).'
      parameters:
        - name: set
          in: query
          description: 'Filter records by set specification'
          required: false
          schema:
            type: string
            example: 'grottocenter'
        - name: from
          in: query
          description: 'Filter records modified from this date (inclusive, filters on lastUpdate field) - YYYY-MM-DD format'
          required: false
          schema:
            type: string
            format: date
            example: '2023-01-25'
        - name: until
          in: query
          description: 'Filter records modified until this date (inclusive, filters on lastUpdate field) - YYYY-MM-DD format'
          required: false
          schema:
            type: string
            format: date
            example: '2023-12-31'
        - name: includeDeleted
          in: query
          description: >
            Optional flag to include deleted records (with metadataStatus = 'deleted').
            Defaults to 'false', meaning only registered records are counted.
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifiers:
                    type: array
                    items:
                      $ref: '#/components/schemas/BibliographicMetadataIdentifier'
                  count:
                    type: integer
                    description: 'Total number of identifiers returned'
                  parameters:
                    type: object
                    description: 'Applied filter parameters'
                    properties:
                      set:
                        type: string
                      from:
                        type: string
                      until:
                        type: string

  '/bibliographic-metadata/records-paginated':
    get:
      tags:
        - bibliographic metadata
      description: 'Retrieve paginated bibliographic metadata records with full metadata (ListRecords operation with pagination).'
      parameters:
        - name: limit
          in: query
          description: 'Maximum number of records to return'
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 50
            example: 50
        - name: offset
          in: query
          description: 'Number of records to skip for pagination'
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
        - name: set
          in: query
          description: 'Filter records by set specification'
          required: false
          schema:
            type: string
            example: 'grottocenter'
        - name: from
          in: query
          description: 'Filter records modified from this date (inclusive, filters on lastUpdate field) - YYYY-MM-DD format'
          required: false
          schema:
            type: string
            format: date
            example: '2023-01-25'
        - name: until
          in: query
          description: 'Filter records modified until this date (inclusive, filters on lastUpdate field) - YYYY-MM-DD format'
          required: false
          schema:
            type: string
            format: date
            example: '2023-12-31'
        - name: includeDeleted
          in: query
          description: >
            Optional flag to include deleted records (with metadataStatus = 'deleted').
            Defaults to 'false', meaning only registered records are returned.
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/BibliographicMetadataRecord'
                  pagination:
                    type: object
                    description: 'Pagination metadata'
                    properties:
                      total:
                        type: integer
                        description: 'Total number of matching records'
                      limit:
                        type: integer
                        description: 'Maximum number of records per page'
                      offset:
                        type: integer
                        description: 'Number of records skipped'
                      hasNext:
                        type: boolean
                        description: 'Whether there are more records available'
                  parameters:
                    type: object
                    description: 'Applied filter parameters'
                    properties:
                      set:
                        type: string
                      from:
                        type: string
                      until:
                        type: string
                      limit:
                        type: integer
                      offset:
                        type: integer

  '/bibliographic-metadata/identifiers-paginated':
    get:
      tags:
        - bibliographic metadata
      description: 'Retrieve paginated record headers without full metadata (ListIdentifiers operation with pagination).'
      parameters:
        - name: limit
          in: query
          description: 'Maximum number of identifiers to return'
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 50
            example: 50
        - name: offset
          in: query
          description: 'Number of identifiers to skip for pagination'
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
        - name: set
          in: query
          description: 'Filter records by set specification'
          required: false
          schema:
            type: string
            example: 'grottocenter'
        - name: from
          in: query
          description: 'Filter records modified from this date (inclusive, filters on lastUpdate field) - YYYY-MM-DD format'
          required: false
          schema:
            type: string
            format: date
            example: '2023-01-25'
        - name: until
          in: query
          description: 'Filter records modified until this date (inclusive, filters on lastUpdate field) - YYYY-MM-DD format'
          required: false
          schema:
            type: string
            format: date
            example: '2023-12-31'
        - name: includeDeleted
          in: query
          description: >
            Optional flag to include deleted records (with metadataStatus = 'deleted').
            Defaults to 'false', meaning only registered records are returned.
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifiers:
                    type: array
                    items:
                      $ref: '#/components/schemas/BibliographicMetadataIdentifier'
                  pagination:
                    type: object
                    description: 'Pagination metadata'
                    properties:
                      total:
                        type: integer
                        description: 'Total number of matching identifiers'
                      limit:
                        type: integer
                        description: 'Maximum number of identifiers per page'
                      offset:
                        type: integer
                        description: 'Number of identifiers skipped'
                      hasNext:
                        type: boolean
                        description: 'Whether there are more identifiers available'
                  parameters:
                    type: object
                    description: 'Applied filter parameters'
                    properties:
                      set:
                        type: string
                      from:
                        type: string
                      until:
                        type: string
                      limit:
                        type: integer
                      offset:
                        type: integer

  '/bibliographic-metadata/sets':
    get:
      tags:
        - bibliographic metadata
      description: 'List available sets for selective harvesting (ListSets operation).'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  sets:
                    type: array
                    items:
                      type: string
                      description: 'OAI-PMH set specification'
                      example: 'grottocenter'
                  count:
                    type: integer
                    description: 'Total number of sets available'

  '/bibliographic-metadata/count':
    get:
      tags:
        - bibliographic metadata
      description: 'Get the number of matching bibliographic metadata records (custom endpoint for pagination support).'
      parameters:
        - name: set
          in: query
          description: 'Filter records by set specification'
          required: false
          schema:
            type: string
            example: 'grottocenter'
        - name: from
          in: query
          description: 'Filter records modified from this date (inclusive, filters on lastUpdate field) - YYYY-MM-DD format'
          required: false
          schema:
            type: string
            format: date
            example: '2023-01-25'
        - name: until
          in: query
          description: 'Filter records modified until this date (inclusive, filters on lastUpdate field) - YYYY-MM-DD format'
          required: false
          schema:
            type: string
            format: date
            example: '2023-12-31'
        - name: includeDeleted
          in: query
          description: >
            Optional flag to include deleted records (with metadataStatus = 'deleted').
            Defaults to 'false', meaning only registered records are counted.
          schema:
            type: string
            enum: ['true', 'false']
            default: 'false'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: 'Total number of matching records'
                  parameters:
                    type: object
                    description: 'Applied filter parameters'
                    properties:
                      set:
                        type: string
                      from:
                        type: string
                      until:
                        type: string

  '/regions/search/logical/or':
    post:
      tags:
        - regions
      description: Get a region according to the parameters given, applying a logical OR. The search is case insensitive and autocompleted (i.e. it search for the parameters being contained in the actual field).
      parameters:
        - name: query
          in: query
          description: Search query for region name or ISO code (case insensitive)
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results to return (default 10, max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          description: Number of results to skip for pagination (default 0)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum: [region, country]
                        iso:
                          type: string
                        name:
                          type: string
                  totalCount:
                    type: integer
                    description: Total number of matching results
                  totalPages:
                    type: integer
                    description: Total number of pages based on limit

  '/countries/{countryId}/regions/{regionId}':
    get:
      tags:
        - regions
        - countries
      description: Get a region by ID within a specific country.
      parameters:
        - name: countryId
          in: path
          description: Country ID (ISO 2-letter code)
          required: true
          schema:
            type: string
            example: US
        - name: regionId
          in: path
          description: Region ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
        '404':
          description: Region not found in the specified country
        '403':
          description: Forbidden request

  '/countries/{countryId}/regions/{regionId}/subscribe':
    post:
      tags:
        - regions
        - countries
      description: Subscribe to a region within a specific country. Requires LEADER group permissions.
      parameters:
        - name: countryId
          in: path
          description: Country ID (ISO 2-letter code)
          required: true
          schema:
            type: string
            example: US
        - name: regionId
          in: path
          description: Region ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully subscribed to region
        '400':
          description: Bad request
        '403':
          description: You are not authorized to subscribe to a region
        '404':
          description: Region not found in the specified country

  '/countries/{countryId}/regions/{regionId}/unsubscribe':
    post:
      tags:
        - regions
        - countries
      description: Unsubscribe from a region within a specific country. Leaders can unsubscribe themselves. Administrators can unsubscribe any user by providing a userId query parameter.
      parameters:
        - name: countryId
          in: path
          description: Country ID (ISO 2-letter code)
          required: true
          schema:
            type: string
            example: US
        - name: regionId
          in: path
          description: Region ID
          required: true
          schema:
            type: string
        - name: userId
          in: query
          description: User ID to unsubscribe (administrators only). If not provided, unsubscribes the authenticated user.
          required: false
          schema:
            type: integer
      responses:
        '204':
          description: Successfully unsubscribed from region
        '400':
          description: You are not subscribed to this region
        '403':
          description: You are not authorized to unsubscribe from a region
        '404':
          description: Region not found in the specified country

  '/countries/{countryId}/regions/{regionId}/organizations/{organizationId}':
    put:
      tags:
        - regions
      description: Associate an organization with a region.
      security:
        - bearerAuth: []
      parameters:
        - name: countryId
          in: path
          required: true
          schema:
            type: string
        - name: regionId
          in: path
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully associated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  organizationId:
                    type: integer
        '400':
          description: Bad request
        '401':
          description: Authentication required
        '404':
          description: Region or organization not found
    delete:
      tags:
        - regions
      description: Remove the association between an organization and a region.
      security:
        - bearerAuth: []
      parameters:
        - name: countryId
          in: path
          required: true
          schema:
            type: string
        - name: regionId
          in: path
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Successfully removed association
        '401':
          description: Authentication required
        '404':
          description: Association or region not found

  '/countries/{countryId}/regions/{regionId}/statistics':
    get:
      tags:
        - regions
        - countries
      description: Get statistics for a region within a specific country.
      parameters:
        - name: countryId
          in: path
          description: Country ID (ISO 2-letter code)
          required: true
          schema:
            type: string
            example: US
        - name: regionId
          in: path
          description: Region ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  region_id:
                    type: string
                  region_name:
                    type: string
                  country_id:
                    type: string
                  nb_caves:
                    type: integer
                    nullable: true
                  nb_entrances:
                    type: integer
                    nullable: true
                  nb_massifs:
                    type: integer
                    nullable: true
                  message:
                    type: string
        '404':
          description: Region not found in the specified country

  '/countries/{countryId}/regions/count':
    get:
      tags:
        - regions
        - countries
      description: Get the count of regions within a specific country.
      parameters:
        - name: countryId
          in: path
          description: Country ID (ISO 2-letter code)
          required: true
          schema:
            type: string
            example: US
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        '404':
          description: Country not found

  '/entrances/with-quality/countries/{countryId}/regions/{regionId}':
    get:
      tags:
        - entrances
        - regions
      description: Get entrance data quality information for a specific region.
      parameters:
        - name: countryId
          in: path
          description: Country ID (ISO 3166-1 alpha-2 code)
          required: true
          schema:
            type: string
            example: US
        - name: regionId
          in: path
          description: Region ID (ISO 3166-2 subdivision code)
          required: true
          schema:
            type: string
            example: TN
        - name: limit
          in: query
          description: Maximum number of results to return (default 50, max 1000)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 50
        - name: offset
          in: query
          description: Number of results to skip for pagination (default 0)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - $ref: '#/components/parameters/qualitySortCountry'
        - $ref: '#/components/parameters/qualityOrder'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  quality:
                    type: array
                    items:
                      $ref: '#/components/schemas/Data-quality-info'
                  totalCount:
                    type: integer
                    description: Total number of entrances
                  totalPages:
                    type: integer
                    description: Total number of pages based on limit
        '400':
          description: Invalid sort or order parameter value. The sort column must be one of the allowed column names and order must be asc or desc.
        '404':
          description: Region not found or has no entrances

  '/languages':
    get:
      tags:
        - languages
      description: Get all languages supported by Grottocenter.
      parameters:
        - name: isPrefered
          in: query
          description: Languages prefered or not.
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'

  '/languages/{id}':
    get:
      tags:
        - languages
      description: Get a language by its id.
      parameters:
        - name: id
          in: path
          description: id of the language (generally, three letters)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Language'

  '/locations':
    post:
      tags:
        - locations
      description: Create a location. You must provide an existing entrance id which your location is refering to.
      parameters:
        - name: body
          in: query
          required: true
          description: Content of the location.
          schema:
            type: string
        - name: language
          in: query
          required: true
          description: Language id used for the description. The list of languages supported by Grottocenter is available using the /languages route.
          schema:
            type: string
        - name: title
          in: query
          description: Title of the location.
          schema:
            type: string
        - name: entrance
          in: query
          required: true
          description: Entrance id which the location is refering to.
          schema:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Some required information are missing (body, language or entrance id).
        '404':
          description: The entrance which the location is refering to was not found.

  '/locations/{id}':
    put:
      tags:
        - locations
      description: Update a location's body and/or title and/or language (you can provide one or multiple).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: body
          in: query
          schema:
            type: string
        - name: title
          in: query
          schema:
            type: string
        - name: language
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'

  '/locations/{id}/snapshots':
    get:
      tags:
        - locations
      description: Get snapshots of a location.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '403':
          description: You are not authorized to get these location's snapshots.
        '404':
          description: We don't find these location's snapshots.

  '/locations/{id}/move-relevance':
    patch:
      tags:
        - locations
      description: Move a location up or down in the relevance ordering within its entrance scope.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - direction
              properties:
                direction:
                  type: integer
                  enum: [1, -1]
                  description: "1 to move down (increase relevance), -1 to move up (decrease relevance)"
      responses:
        '200':
          description: Successful swap — returns both entities with updated relevance values
        '400':
          description: Invalid direction, entity is deleted, or entity is already at boundary
        '401':
          description: Authentication required
        '404':
          description: Entity not found

  '/histories':
    post:
      tags:
        - histories
      description: Create an history. You must provide an existing entrance id which your history is refering to.
      parameters:
        - name: body
          in: query
          required: true
          description: Content of the history.
          schema:
            type: string
        - name: language
          in: query
          required: true
          description: Language id used for the body. The list of languages supported by Grottocenter is available using the /languages route.
          schema:
            type: string
        - name: entrance
          in: query
          required: true
          description: Entrance id which the history is referring to.
          schema:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/History'
        '400':
          description: Some required information are missing (body, language or entrance id).
        '404':
          description: The entrance which the history is referring to was not found.

  '/histories/{id}':
    patch:
      tags:
        - histories
      description: Update an history's body and/or language (you can provide one or multiple).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: body
          in: query
          schema:
            type: string
        - name: language
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
[...]
