/* BODY */

.mdl-layout {
    background-color: #F5F5F5;
}

/* HEADER */

.mdl-layout__header div {
    //border: 1px solid black;
}

.mdl-layout__header {
    //background-color: white;
    color: black;
    background: url('/images/Naracoorte-cave.jpg') 0 center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.mdl-layout-title {
    color: #34558A;
    font-weight: 500;
    font-size: 2em;
}

.mdl-layout__header-row:nth-child(2) {
    //background: url('/images/topo2.png') repeat;
    height: 150px;
}

.mdl-layout__header-row:nth-child(3) .mdl-cell:nth-child(1) {
}

.mdl-layout__header-row:nth-child(3) .mdl-cell:nth-child(1) img {

}

.mdl-layout__header-row:nth-child(2) .mdl-cell:nth-child(1) span {
    font-style: italic;
    font-size: small;
}

.mdl-layout__header-row:nth-child(3) .mdl-cell:nth-child(2) {
}

.mdl-layout__header-row:nth-child(2) .mdl-cell:nth-child(2) img {
    width: 100px;
    position: relative;
    float: left;
    margin-right: 20px;
    top: -1.1em;
}

.mdl-layout__header-row:nth-child(2) .mdl-cell:nth-child(2) h1 {
    color: #34558A;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 0;
}

.mdl-layout__header-row:nth-child(2) .mdl-cell:nth-child(2) span {
    border: none;
    font-size: normal;
    //text-indent:  150px;
    //display: block;
    margin-top: 0;
    font-style: italic;
    position: relative;
    top: -20px;
    left: 150px;
    font-size: 1.1em;
}

.ligther-bg {
    background-color: rgba(255, 255, 255, 0.5);
}

.gc-fse-info {
    //border: none;
    //font-style: italic;
    //font-size: small;
}

#gc-bloc-fse {
    //position: relative;
    //left: -60px;
    // top: 25px;
}

#gc-bloc-logo img {
    width: 100px;
    //position: relative;
    // top: -55px;
}

#gc-bloc-logo div {
    //margin-top: 40px;
    //display: inline-block
}

.mdl-textfield__input {
    //background-color: #E3F2FD;
}

div {
    //border: 1px solid black;
}

/* CONTENT */

.basicCard {
	width: 50%;
	box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

.cardtitle {
	height: 176px;
    background: url('/images/homepage/entry.jpg') center / cover;
	color: #34558A;
	font-weight: 800;
	display: block;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	line-height: normal;
}

.cardsupportingtext {
	color: rgba(0,0,0,.54);
	font-size: 1rem;
	line-height: 18px;
	overflow: hidden;
	padding: 16px;
	width: 90%;
}

.flexbutton {
	display: flex;
    flex-direction: column;
}

.mdl-card__title-text {
    font-weight: 800;
    color: #34558A;
}

.mdl-layout__content .mdl-cell {
    //text-align: center;
}

.mdl-layout__content .mdl-cell:first-child {
    padding-left: 4%;
    padding-right: 2%;
}

.mdl-layout__content .mdl-cell:last-child {
    padding-left: 2%;
    padding-right: 4%;
}

.gc-poc-card-wide.mdl-card {
    width: 100%;
}

.gc-poc-card-wide > .mdl-card__title {
    height: 176px;
    background: url('/images/konsep.jpg') center / cover;
}

.gc-news-card-wide.mdl-card {
    width: 100%;
}

.gc-news-card-wide > .mdl-card__title {
    height: 176px;
    background: url('/images/news-image.jpg') center / cover;
}

.gc-entry-card-wide.mdl-card {
    width: 100%;
}

.gc-entry-card-wide > .mdl-card__title {
    height: 176px;
    background: url('/images/entry.jpg') center / cover;
}

.gc-entry-card-wide > .mdl-card__supporting-text div {
    width: 49%;
    float: left;
}

.gc-stats-card-wide.mdl-card {
    width: 100%;
}

.gc-stats-card-wide > .mdl-card__title {
    height: 176px;
    background: url('/images/statistic.jpg') center / cover;
}

/**** Big device layout ****/
@media (min-width: 1024px) {

    .mdl-layout-title {
        display: none;
    }

}


/**** Medium device layout ****/
@media (max-width: 1023px) {
    
    .mdl-layout__header-row {
        height: auto;
}
    
    .mdl-layout__header-row:first-child {
        display: none;
    }

    .mdl-layout__header-row:nth-child(3) .mdl-cell:nth-child(2) {
        display: none;
    }
}

/**** Small device layout ****/
@media (max-width: 767px) {



}