/* GLOBAL STYLING */

.bgWhite {
  color: white;
}

.centered {
  text-align: center;
}

.bigger {
  font-weight: bigger;
}


/* BODY */

body {
  background-color: #F5F5F5;
  margin: 0;
  min-width: 320px;
}


/* APP BAR */

.gcAppBar {
  /*position: absolute;*/
  z-index: 100;
  width: 100%;
}


/* HEADER */

header>.container {
  width: 100%;
  max-width: initial;
  padding: 0px;
}

header>div {
  background: url('/images/caves/topo.jpg') 0 center;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position-y: 0;
}

@media (min-width: 550px) {
  header>div {
    background-size: 100%;
  }
}

header div.toolbar {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 0px;
}

header .hello-msg {
  color: white;
  font-weight: bold;
}

header .toolbar .button {
  text-align: right;
}

header .loginForm {
  padding: 10px;
  background-color: white;
  position: absolute;
  right: 10px;
  text-align: initial;
  z-index: 100;
  width: 300px;
  border-radius: 4px;
}

header .btn {
  margin: 2px 4px;
}

header .brand {
  padding: 40px 40px;
  text-align: center;
}

header .logo img {
  width: 140px;
}

@media (min-width: 550px) {
  header .logo img {
    width: 160px;
  }
  header .sitename {
    font-size: 3.5em;
  }
}

header .slogan {
  font-style: italic;
  font-size: normal;
}

header .gc-fse-info {
  display: none;
  font-size: small;
  line-height: 40px;
}

@media (min-width: 550px) {
  header .gc-fse-info {
    display: flex;
  }
}

header .logofse {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

header .searchbar {
  background-color: white;
  /*rgba(0, 0, 0, 0.5);*/
}

header .searchbar .form-group {
  text-align: center;
}

header .searchbar input[type=text] {
  display: inline;
  width: 80%;
}

header .searchbar .form-group div:first-child {
  display: inline;
}

header .searchbar .proposal {
  background-color: white;
  position: absolute;
  text-align: left;
  top: 36px;
  left: 58px;
  width: 657px;
  z-index: 100;
  padding: 0px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

header .searchbar .proposal dt {
  padding: 2px 2px;
}

header .searchbar .proposal dd {
  background-color: white;
  cursor: pointer;
  padding: 2px 12px;
}

header .searchbar .proposal dd:hover {
  background-color: #f5f5f5;
}

header .searchbar .searchIcon {
  position: absolute;
  height: 72px;
}

header .searchbar .searchIcon svg {
  height: 50px !important;
  width: 50px !important;
  padding-top: calc((72px - 50px) / 2);
}

div {
  //border: 1px dotted red;
}


/* CONTENT */

div[role="section"] {
  clear: both;
  padding: 40px 0;
}

.basicCard {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.cardtitle {
  height: 176px;
  color: #34558A;
  font-weight: 800;
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: normal;
}

.basicCard .entryBg {
  background: url('/images/homepage/entry.jpg') center / cover;
  padding: 20px 20px;
  font-size: 2em;
}

.basicCard .newsBg {
  background: url('/images/homepage/news.jpg') center / cover;
  padding: 20px 20px;
  font-size: 2em;
}

.cardsupportingtext {
  color: rgba(0, 0, 0, .54);
  line-height: 18px;
  overflow: hidden;
  padding: 16px;
  width: 90%;
}

.flexbutton {
  display: flex;
  flex-direction: column;
}

.carousel {
  /*height: 150px;*/
}

.carousel-inner {
  width: 70%;
  margin: auto 15%;
  text-align: center;
}

.carousel-inner .item div {
  display: inline-block;
  margin: 0 2%;
}

.carousel-inner>.item>div {
  background-color: white;
  padding: 2px;
  border: 1px solid lightgray;
  border-radius: 4px;
  height: 80px;
  width: 80px;
}

.carousel-inner>.item>div>img, .carousel-inner>.item>a>img {
  //width: 100px;
  //margin: auto;
  //float: left;
  display: inline;
  width: 100%;
  height: 100%;
  max-height: 80px;
  max-width: 80px;
}

.carousel-indicators {
  top: 100px;
}

.carousel-indicators li {
  border: 1px solid rgba(0, 0, 0, .6);
}

.carousel-indicators li.active {
  background-color: rgba(0, 0, 0, .6);
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.carousel-control .slideleft, .carousel-control .slideright {
  color: black;
  font-size: 3em;
}


/* FOOTER */

footer {
  font-size: smaller;
  padding: 15px;
}

footer div.row:first-of-type {
  height: 100px;
}

footer div.columns {
  text-align: center;
}

footer .linksIcon {
  list-style: none;
  display: inline-block;
}

footer .linksIcon li {
  float: left;
  width: 40px;
  margin-right: 5px;
}

footer .linksIcon img {
  width: 100%;
  padding: 2px;
  border-radius: 10px;
}

footer .linksText {
  display: inline-block;
}

footer .linksText li {
  float: left;
  margin-right: 5px;
}

@media (min-width: 550px) {
  footer .linkIcon {
    margin: 0;
    margin-right: 5px;
  }
}

footer .donate div {
  text-align: center;
}

footer .legal p {
  text-align: justify;
  margin-bottom: 0;
}

footer .legal .licenceIcon {
  text-align: center;
}

.ribbon {
  float: left;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 5px;
  color: white;
}

.ribbon .ribbon-piece {
  width: 35px;
}

.ribbon .tail {
  overflow: hidden;
  width: 35px;
}

.ribbon .top {
  border-bottom: solid 1px rgba(255, 255, 255, 0.6);
  border-radius: 1px 1px 0px 0px;
  font-size: 11px;
  padding: 4px 0;
  position: relative;
  text-transform: uppercase;
}

.ribbon .ribbon-piece {
  background-color: rgba(255, 162, 68, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-in;
}

.ribbon .tail .left {
  left: -16px;
  transform: rotate(-25deg);
  height: 10px;
  position: relative;
  top: -7px;
  width: 50px;
}

.ribbon .tail .right {
  right: 9px;
  transform: rotate(25deg);
  height: 10px;
  position: relative;
  top: -22px;
  width: 50px;
}


/* svg font */

.icon {
  display: inline-block;
  font-size: "16px";
}

@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?cc1642958695baadc7bfe154a99af5eb?#iefix") format("embedded-opentype"), url("iconfont.woff?cc1642958695baadc7bfe154a99af5eb") format("woff");
}

.icon {
  line-height: 1;
}

.icon:before {
  font-family: iconfont !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
}

.icon-gc-backpack:before {
  content: "\f101";
}

.icon-gc-bat:before {
  content: "\f102";
}

.icon-gc-club:before {
  content: "\f103";
}

.icon-gc-entries:before {
  content: "\f104";
}

.icon-gc-entry:before {
  content: "\f105";
}

.icon-gc-expe:before {
  content: "\f106";
}

.icon-gc-helmet:before {
  content: "\f107";
}

.icon-gc-speleo:before {
  content: "\f108";
  font-size: "2em";
  color: "chocolate";
  text-shadow: "black 0px 0px 4px";
  text-align: "center";
}


}
