[role='section'].association {
  text-align: center;

  h3 {
    text-align: center;
  }

  .container {
    width: 80%;
    margin: auto;
  }

  .row {
    & > div {
      padding-top: 20px;
    }

    & > div:first-child > h3 {
      font-size: 35px;
      padding-bottom: 30px;
    }

    & > div:first-child > h5 {
      font-size: 18px;
    }

    .row > div:last-child {
      text-align: center;
    }

    & > div:last-child img {
      max-width: 200px;
    }

    & > div:last-child img:visible {
      scale: 50%;
    }

    ul {
      width: 100%;
      list-style-type: none;
    }

    li {
      margin-bottom: 40px;

      &::after {
        content: '';
        clear: both;
      }

      & > svg {
        height: 50px !important;
        width: 50px !important;
        float: left;
      }

      & > svg:hover {
        animation: checkBump 500ms ease;
      }
    }

    .listing {
      & > span {
        margin-bottom: 40px;
        display: block;
      }

      ul {
        li:nth-child(2n) svg {
          float: right;
        }

        li:nth-child(n) div {
          min-height: 80px;
          line-height: 40px;
          margin-left: 80px;
          margin-right: 0;
          text-align: left;
        }

        li:nth-child(2n) div {
          margin-right: 80px;
          margin-left: 0;
          text-align: right;
        }

        li:nth-child(n) span {
          display: inline-block;
        }
      }
    }
  }

  .goalTextZone {
    display: none;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    & > span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .floatingGoals {
    display: none;
    margin-top: 50px;
  }
}

[role='section'].associationBg {
  background-image: url('../images/caves/DSC_0013b.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media (min-width: 550px) {
  [role='section'].association .row li > svg {
    height: 80px !important;
    width: 80px !important;
  }
}

@media (min-width: 750px) {
  [role='section'].association {
    h3 {
      text-align: left;
    }

    .row > div:first-child {
      text-align: left;
    }

    .row > div:last-child {
      margin-top: 40px;
    }

    .row > div:last-child img {
      display: inline;
    }

    .listing {
      display: none;
    }

    .goalTextZone {
      display: inline-block;
      position: relative;
      top: 90px;
      left: ~'calc((100% - 200px) / 2)';
      width: 200px;
      height: 150px;
    }

    .floatingGoals {
      display: block;
      height: 400px;
      margin-top: -160px;

      .goal {
        position: absolute;
        width: 120px;
        text-align: center;
        float: left;

        & > span {
          display: block;
          padding: 20px;
          text-align: center;
        }

        & > span:first-child {
          white-space: nowrap;
        }

        svg {
          width: 140px !important;
          height: 140px !important;
          top: -38px;
          left: -10px;
          position: absolute;
          opacity: 0.3;
        }

        svg:hover {
          color: @brownLight !important;
          transform: rotate(-135deg) scale(1.2, 1.2);
          opacity: 1;
        }

        &:nth-child(1) {
          left: ~'calc(((100% - 120px) / 2) - 100px)';
          bottom: 70px;
        }

        &:nth-child(2) {
          left: ~'calc(((100% - 120px) / 2) - 160px)';
          bottom: 230px;
        }

        &:nth-child(3) {
          left: ~'calc((100% - 120px) / 2)';
        }

        &:nth-child(4) {
          left: ~'calc(((100% - 120px) / 2) + 160px)';
          bottom: 230px;
        }

        &:nth-child(5) {
          left: ~'calc(((100% - 120px) / 2) + 100px)';
          bottom: 70px;
        }
      }

      .goalText {
        display: none !important;
      }
    }
  }

}
