div[role="section"] {
  clear: both;
  padding: 40px 0;
}

div[role="section"].bgGradent {
  min-height: 300px;
  /*background: linear-gradient(to top, rgb(251, 251, 222) 0%, rgb(255, 223, 174) 100%);*/
  /*background: linear-gradient(to top, #d7ccc8 10%, #795548 80%);*/
  background: linear-gradient(to bottom, #d7ccc8 10%, #795548 80%);
}

div[role="section"] h3 {
  text-align: center;
  padding-bottom: 50px;
}

div[role="section"].recentContrib > .container {
  width: 100%;
}

div[role="section"].numbers .row .columns:nth-of-type(n+1) {
  padding-top: 40px;
}

div[role="section"].numbers .row .columns:first-of-type {
  padding-top: 0;
}

@media (min-width: 550px) {
  div[role="section"].numbers .row .columns:first-of-type {
    padding-top: 40px;
  }
}
