[role='section'].randomEntry {
  .topoImg {
    width: 100%;
    background-color: white;
  }

  .container {
    background-color: fade(@grey, 50%);
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    color: white;
  }

  .randomEntryLink {
    text-decoration: none;
    color: white;
  }

  .entryLocation a {
    text-decoration: none;
    color: inherit;
  }

  .entryLocation a:hover {
    color: @orange;
  }

  .rating {
    list-style-type: none;

    li {
      display: inline-flex;
      width: 100%;
    }

    li > span {
      margin-right: 20px;
      white-space: nowrap;
    }

    .stars {
      display: inline;
      white-space: nowrap;
    }
  }

  .infos .entryInfo {
    width: 50%;
    display: inline-flex;
    line-height: 50px;
  }
}

[role='section'].randomEntryBg {
  background-image: url('../images/caves/DSC_0420.JPG');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;

  h3 {
    text-align: center;
    padding-bottom: 50px;
  }
}
